### List

The Python **List** is a general data structure widely used in Python programs. They are found in other languages,
often referred to as dynamic arrays. They are both mutable and a sequence data type that allows them to be indexed
and sliced. The list can contain different types of objects, including other list objects.

#### List methods and supported operators

The following notes are from the book *Python Notes for Professionals*

In [1]:
# initialise an empty list
restaurants = []

In [2]:
restaurants = ["McDonald's", "Burger King", "McDonald's", "Chicken Chicken"]

In [3]:
print(restaurants)

["McDonald's", 'Burger King', "McDonald's", 'Chicken Chicken']

In [11]:
# print the unique values. Use set operation
unique_restaurants = set(restaurants)
print(unique_restaurants)
# show data type
type(unique_restaurants)

{"McDonald's", 'Chicken Chicken', 'Burger King'}

set

In [12]:
# convert to list
type(list(unique_restaurants))

list

In [15]:
# add new element to list
# You will need to change the data type to list
unique_restaurants = list(unique_restaurants)
unique_restaurants.append(10)
print(unique_restaurants)

["McDonald's", 'Chicken Chicken', 'Burger King', 10, 10]

In [19]:
# check list if empty or not
if not unique_restaurants:
    print("\nEmpty list")
else:
    print(unique_restaurants)

["McDonald's", 'Chicken Chicken', 'Burger King', 10, 10]

In [18]:
# iterating over a list
for item in unique_restaurants:
    print(item)

McDonald's
Chicken Chicken
Burger King
10
10

In [20]:
# get the index of each item while iterating over it
for (index, item) in enumerate(unique_restaurants):
    print(index, "\t", item)

0 	 McDonald's
1 	 Chicken Chicken
2 	 Burger King
3 	 10
4 	 10

In [21]:
# iterate the list based on index value
for i in range(0, len(unique_restaurants)):
    print(unique_restaurants[i])

McDonald's
Chicken Chicken
Burger King
10
10

In [22]:
# checking whether an item is in a list or not
for item in unique_restaurants:
    if item in unique_restaurants:
        print (item)
    else:
        print("\n Item not found")

McDonald's
Chicken Chicken
Burger King
10
10

In [25]:
# Reversing the list items
r= reversed(unique_restaurants)
print(r)

<list_reverseiterator object at 0x0000000007588780>

In [34]:
# Merge the list elements
# zip returns a list of tuples, 
animals = ['buffalo','zebra','elephant','crow']
for a,b in zip(animals, unique_restaurants):
    print(a,b)

buffalo McDonald's
zebra Chicken Chicken
elephant Burger King
crow 10

In [28]:
# For padding lists of unequal length to the longest one with Nones use itertools.zip_longest
import itertools
for a, b in itertools.zip_longest(animals, unique_restaurants):
    print(a,b)

buffalo McDonald's
zebra Chicken Chicken
elephant Burger King
crow 10
None 10

In [36]:
# Insert to a specific index value
animals.insert(5, "Tiger")

In [37]:
type(animals)

list

In [38]:
for item in animals:
    print(item)

buffalo
zebra
elephant
crow
Tiger

In [42]:
# Removing duplicate value from a list
# Removing duplicate values in a list can be done by converting the list to a set
animals.insert(6,"zebra")
animals

['buffalo', 'zebra', 'elephant', 'crow', 'Tiger', 'zebra', 'zebra', 'zebra']

In [43]:
list(set(animals))

['Tiger', 'zebra', 'crow', 'buffalo', 'elephant']

In [44]:
# Two dimensional or Three or Multi Dimensional Lists
aList = [[[1,2],[3,4,5]],
        [6,7,8],[9,10,11],
        [12,13,14,15]
        ]

In [46]:
aList

[[[1, 2], [3, 4, 5]], [6, 7, 8], [9, 10, 11], [12, 13, 14, 15]]

In [49]:
# Accessing items in a list
print(aList[0][0][1])

2

In [50]:
print(aList[0][1][1])

4

In [51]:
# Using nested for loops to print the list
for row in aList:
    for col in aList:
        print (col)

[[1, 2], [3, 4, 5]]
[6, 7, 8]
[9, 10, 11]
[12, 13, 14, 15]
[[1, 2], [3, 4, 5]]
[6, 7, 8]
[9, 10, 11]
[12, 13, 14, 15]
[[1, 2], [3, 4, 5]]
[6, 7, 8]
[9, 10, 11]
[12, 13, 14, 15]
[[1, 2], [3, 4, 5]]
[6, 7, 8]
[9, 10, 11]
[12, 13, 14, 15]

In [57]:
# Using nested for loops to print the list
for row in range(len(aList)) :
    for col in range(len(aList[row])) :
        print (aList[row][col])

[1, 2]
[3, 4, 5]
6
7
8
9
10
11
12
13
14
15

In [58]:
# Using slices in list
print(aList[1][1:])

[7, 8]

In [59]:
# The final list
print(aList)

[[[1, 2], [3, 4, 5]], [6, 7, 8], [9, 10, 11], [12, 13, 14, 15]]

#### List Comprehensions

A list comprehension creates a new list by applying an expression to each element of an iterable. The most basic
form is: `[ <expression> for <element> in <iterable> ]`
    
There is also an optional 'if' condition:
    
`[ <expression> for <element> in <iterable> if <condition> ]`

Each **element** in the **iterable** is plugged in to the **expression** if the (optional) **condition** evaluates to true. All results are returned at once in the new list. Generator expressions are evaluated lazily, but list comprehensions
evaluate the entire iterator immediately - consuming memory proportional to the iterator's length.

In [62]:
# Example. To create a list of squared integers:
squares = [x * x for x in (1, 2, 3, 4)]
squares

[1, 4, 9, 16]

In [64]:
# # Get a list of uppercase characters from a string
[s.upper() for s in "Hello World"]

['H', 'E', 'L', 'L', 'O', ' ', 'W', 'O', 'R', 'L', 'D']

In [65]:
# Strip off any commas from the end of strings in a list
[w.strip(',') for w in ['these,', 'words,,', 'mostly', 'have,commas,']]

['these', 'words', 'mostly', 'have,commas']

In [66]:
# Organize letters in words more reasonably - in an alphabetical order
sentence = "Beautiful is better than ugly"
["".join(sorted(word, key = lambda x: x.lower())) for word in sentence.split()]

['aBefiltuu', 'is', 'beertt', 'ahnt', 'gluy']

In [67]:
[sorted(x) for x in [[2, 1], [4, 3], [0, 1]]]

[[1, 2], [3, 4], [0, 1]]

##### Conditional List Comprehensions

Given a list comprehension you can append one or more if conditions to filter values.
[<expression> for <element> in <iterable> if <condition>]

For each **element** in **iterable**; if **condition** evaluates to True, add **expression** (usually a function of
**element**) to the returned list.

In [68]:
# print the even numbers
[x for x in range(10) if x % 2 == 0]

[0, 2, 4, 6, 8]

In [1]:
[x for x in range(10) if x % 2 != 0]

[1, 3, 5, 7, 9]